

body {
  background-color: rgba(255, 255, 240, 0.4);
}

.totalContain {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scale(1.3);
}

.image {
  width: 370px;
  margin-top: 100px;
  padding-bottom: 25px;
  animation: float 6s ease-in-out infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 770px) {
  .totalContain {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
