.logoSite {
  padding: 1.5%;
}

.lead{
  font-size: 2.3rem;
  text-align: center;
  line-height: 1;
  font-weight: inherit;
}

.inline{
  margin: 0 2px;
  vertical-align: -12px;
  display: inline;
  animation: rotate 5s linear infinite;
  width: 50px;
  max-width: 100%;
  height: auto;
}

body {
  background-color: rgba(255, 255, 240, 0.4);
}

.totalContain {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scale(1.1);
}

.image {
  width: 370px;
  margin-top: 100px;
  padding-bottom: 25px;
  animation: float 6s ease-in-out infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 801px) {
  .totalContain {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }

  .totalContain {
    transform: scale(1);
  }
}
